<div class="container mx-auto">
  <div class="row">
    <div class="col-md-8 col-lg-6 mx-auto text-center">
      <p class="mb-5"><strong>本当に退会しますか？</strong></p>
      <p class="mb-5">
        退会すると、会員情報や<br />
        これまでの購入履歴が閲覧できなくなります。<br />
        退会する場合は、「退会する」をクリックしてください。
        </p>
      <div class="row">
        <div class="col-6 offset-3 mb-5"><%= link_to "退会しない", customers_path, class: "btn btn-block btn-outline-primary" %></div>
        <div class="col-6 offset-3"><%= link_to "退会する", out_customers_path, method: :patch, class: "btn btn-block btn-outline-danger" %></div>
      </div>
    </div>
  </div>
</div>