<div class="container">
  <div class="row">
    <div class="col-6 mx-auto">
      <h2>商品編集</h2></br>
      <%= form_with model: @product, url: admin_product_path(@product), local:true do |f| %>
        <%= render 'layouts/form_error_messages', model: f.object %>
        <%= render "form", f: f %>

        <div class="d-flex justify-content-center">
          <%= f.submit :変更を保存, class: 'btn btn-lg btn-success' %>
        </div>
      <% end %>
    </div>
  </div>
</div>