/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

*{
  pading: 0;
  margin: 0;
  box-sizing: border-box;
}

.light-gray {
  background-color: #eeeeee;
}

.product-box {
  padding: 0 10px;
 }

.content {
  min-height: calc(100vh - 100px);
  padding-top: 100px;
}

footer {
  height: 100px;
}

// フラッシュメッセージ
#notice {
  color: green;
}

// header
.customer_name {
  line-height: 3;
  font-size: 0.8rem;
}
.collapse {
  flex-direction: column;
}

.genre-nav {
  margin-top: 62px;
  color: #1E2677;
  background: #E4EEF8;
  border-top: 1px solid #1E2677;
  border-bottom: 1px solid #1E2677;
}

// トップへ戻るボタン
#page_top{
  width: 90px;
  height: 90px;
  position: fixed;
  right: 0;
  bottom: 0;
  opacity: 0.6;
}
#page_top a{
  position: relative;
  display: block;
  width: 90px;
  height: 90px;
  text-decoration: none;
}
#page_top a::before{
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f102';
  font-size: 25px;
  color: #3f98ef;
  position: absolute;
  width: 25px;
  height: 25px;
  top: -40px;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
}
#page_top a::after{
  content: 'PAGE TOP';
  font-size: 13px;
  color: #fff;
  position: absolute;
  top: 45px;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
  color: #3f98ef;
}

// スタイリッシュな四角形クラス
.triangle {
  display: block;
  width: 0;
  height: 0;
  border-top: 50px solid #ddd;
  border-right: 50px solid #ccc;
  border-left: 50px solid #bbb;
  border-bottom: 50px solid #aaa;
}

.product-price{
  margin-top: 100px;
  font-size: 20px;
}
// 売切商品
.sold-out, .sold-out-lg {
  position: relative;
}
.sold-out {
  position: relative;
  height: 200px;
}
.sold-out-lg {
  position: relative;
  width: 400px;
}
.sold-out img, .sold-out-lg img {
  opacity: 0.5;
  display: block;
}
.sold-out p, .sold-out-lg p {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin: 0;
  padding: 0;
  color: #fff;
}

label {
vertical-align: top;
}


// 個数選択のプルダウンキー装飾
select {
  /* styling */
  background-color: white;
  border: thin solid blue;
  border-radius: 4px;
  display: inline-block;
  font: inherit;
  line-height: 1.5em;
  padding: 0.5em 4.5em 0.5em 0.5em;

  /* reset */

  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}

/* arrows */

select {
  background-image:
    linear-gradient(45deg, transparent 50%, blue 50%),
    linear-gradient(135deg, blue 50%, transparent 50%),
    linear-gradient(to right, skyblue, skyblue);
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    100% 0;
  background-size:
    5px 5px,
    5px 5px,
    2.5em 2.5em;
  background-repeat: no-repeat;
}

// 管理者側新商品登録ボタンの装飾
.plus-button {
  color: orange;
}

// ページリンクの装飾
.pagination {
  margin: auto;
  text-align: center;
}

.pagination a {
  background-color: yellow;
  text-decoration: none;
}

.pagination * {
  color:　#F0F;
  margin: 0 4px;
  text-decoration: none;
  padding: 2px 0px;
  border-radius: 2px;
  font-family: 'Nunito', sans-serif;
}

// 管理者注文詳細画面

.order-derails-group{
  margin-top: 30px;
}

.billing-amount-group {
  margin-left:  100px;
  margin-top: 80px;
}

.billing-label {
  margin-right: 70px;
  font-size: 18px;
  font-weight:bolder;
}

.billing-group {
  margin: 20px 0 0 50px;
}

.total-billing {
  font-size: 18px;
  font-weight:bolder;
}

.field_with_errors {
  display: contents;
  // もしくは diplay: inline;
}
